.col-sm-12
  #exam_item_result
    %h3.exam_item_result
      - if correct
        = "Correct!"
      - else
        = "Wrong!"

.col-sm-12
  #next_question_link
    %hr
    = link_to 'Next Question', next_question_exam_result_item_path(exam_result_item), remote: true, class: "btn btn-primary"